body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Favorite button */

.favorite-button{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.favorite-button:hover{
  background-color: #d0d0d0;
}

.favorite-button img{
  width:100%;
  height: auto;
}

/* Recipe item */
.recipe-container{
  width: 20%;
  height: auto;
  border: solid 2px black;
  border-radius: 5px;
}

.recipe-image{
  width:100%;
  height: auto;
}