body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Header*/
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  margin-bottom: 15px;
}

/* Hamburger Menu */
.hamburger-menu{
  position: relative;
}

.hamburger-menu .hamburger-button{
  position: relative;
  z-index: 10;
  width: 2rem;
  height: 2rem;
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger-menu .hamburger-button:hover{
  background-color: #d0d0d0;
}

.hamburger-menu .humburger-button .bars-icon{
  width: 80%;
  height: auto;
}

.hamburger-menu .menu{
  padding-top: 3rem;
  background-color: gray;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 1;
  width: 60%;
  height: 100vh;
  transition: left 1s ease;
}

.hamburger-menu .menu.visible{
  left: 0;
}

.hamburger-menu .menu ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu ul .username{
  text-decoration: underline;
}

/*Search Bar*/

.search-container{
  flex: 1;
  max-width: 700px;
  height: 2.5rem;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.search-glass-icon{
 height: 1.2rem;
 margin-right: 8px;
}

.search-input{
  border: none;
  outline: none;
  flex: 1;
  text-decoration: underline;
  font-size: 14px;
}

/*auth buttons*/
.auth-container{
  width: 10%;
  height: auto;
}

/* Favorite button */

.favorite-button{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.favorite-button:hover{
  background-color: #d0d0d0;
}

.favorite-button img{
  width: 100%;
  height: auto;
}

/* Save button */
.save-button{
  width: 2rem;
  height: 2rem;
  border-radius: 50%; 
}

.save-button:hover{
  background-color:#d0d0d0;
}

.save-button img{
  width: 100%;
  height: auto;
}

/*UserIcon*/

.user-icon{
  width: 2rem;
  height: 2rem;
  border: 1px solid black;
  border-radius: 50%;

}

/* Recipe item */
.recipe-container{
  width: 40%;
  height: auto;
  border: 2px solid black;
  border-radius: 5px;
}

.recipe-image{
  width:100%;
  height: auto;
}

/*Recipe items */
.recipe-items-container{
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/*Back button*/
.back-button{
  position: fixed;
  left: 1rem;
  bottom: 3%;
  padding: 8px 16px;
  font-size: 16px;
  color: black;
  border: 2px solid black;
  border-radius: 20px;
}

/* Recipe Detail*/
.recipe-detail-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.recipe-image-detail{
  background-color: gray;
}

.recipe-image-container{
  border-radius: 8px;
}

.recipe-overview{
  background-color: gray;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 10px;
}

.recipe-overview .name-and-buttons{
  display: flex;
  justify-content: space-between;
}

.recipe-overview .recipe-name{
  font-size: 1.5rem;
  font-weight: bold;
}

.recipe-overview .buttons{
  display: flex;
  gap: 0.5rem;
}

.recipe-overview .user-info{
  display: flex;
}

.recipe-description{
  background-color: gray;
  border-radius: 10px;
}

.auth-page .logo{
  width: 60%;
  margin: 0 auto;
}

.auth-page .forms{
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.auth-page .forms h2{
  text-align: center;
}

.form-group input{
  width: 100%;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 5psx;
  font-size: 1rem;
}

.form-actions{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-actions .link{
  font-size: 0.9rem;
  text-decoration: underline;
}